In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lesson 10: Groups ##

## Grouping by One Column ##

In [3]:
#Run this cell
cones = Table.read_table('data/cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [4]:
# Drop the color column
# Then group cones by flavor and find the average
...

Ellipsis

In [ ]:
# Drop the color column
# Group cones by flavor and find the maximum
...

## Lists

In [ ]:
#Run this cell
[1, 5, 'hello', 5.0]

In [ ]:
#Run this cell
[1, 5, 'hello', 5.0, make_array(1,2,3)]

## Grouping by Two Columns ##

In [ ]:
#Run this cell
nba = Table.read_table('data/nba_salaries.csv').relabeled("'15-'16 SALARY", 'SALARY')
nba

In [ ]:
# Group NBA by Team and Position
...

In [ ]:
# Drop the column player and then group by Team and Position, finding
# the sum
...